<footer class="navbar navbar-expand navbar-light bg-light bg-gradient border-top">
  <div class="container-fluid">
    <!-- Alinhar "Desenvolvido por Igor Rodrigues" à esquerda -->
    <div class="navbar-nav mb-2 mb-lg-0">
      <small><a class="nav-link" href="https://github.com/igordriguess">Desenvolvido por Igor Rodrigues</a></small>
    </div>
    
    <!-- Alinhar ícones de contato à direita -->
    <div class="ms-auto d-flex">
      <!-- Ícone de e-mail -->
      {% if site.data.bio.basics.email %}
        {% capture url %}mailto:{{ site.data.bio.basics.email }}{% endcapture %}
        <div class="me-2">
          {% include about/social.html url=url name='envelope' %}
        </div>
      {% endif %}

      <!-- Ícones de redes sociais -->
      {% for profile in site.data.bio.basics.profiles %}
        {% capture url %}{{ profile.url }}{% endcapture %}
        {% capture name %}{{ profile.network | downcase }}{% endcapture %}
        <div class="me-2">
          {% include about/social.html url=url name=name %}
        </div>
      {% endfor %}
    </div>
  </div>
</footer>
