<div style="background-color: var(--tf-projects-bg-color)" class="bg-gradient py-3" id="conhecimentos">
  <div class="container">
    <div class="row mb-3">
      <div class="col-md-6">
        <h1 class="display-4 text-start">Conhecimentos</h1>
      </div>
    </div>
          <div style="text-align: center; margin-top: 20px;">
              <img src="img/oracle-logo.png" alt="Oracle" style="width: 100px; margin: 0 10px;">
              <img src="img/sqlserver-logo.png" alt="SQL Server" style="width: 100px; margin: 0 10px;">
              <img src="img/ubunto-logo.png" alt="Ubunto" style="width: 80px; margin: 0 10px;">
              <img src="img/azure-logo.png" alt="Azure" style="width: 100px; margin: 0 10px;">
              <img src="img/python-logo.png" alt="Python" style="width: 80px; margin: 0 10px;">
              <img src="img/javascript-logo.png" alt="Javascript" style="width: 100px; margin: 0 10px;">
              <img src="img/java-logo.png" alt="Javascript" style="width: 80px; margin: 0 10px;">
          </div>
          <div style="text-align: center; margin-top: 20px;">
                <img src="img/powershell-logo.png" alt="PowerShell" style="width: 100px; margin: 0 10px;">
                <img src="img/mongodb-logo.png" alt="MongoDB" style="width: 100px; margin: 0 10px;">
                <img src="img/docker-logo.png" alt="Docker" style="width: 100px; margin: 0 10px;">
                <img src="img/nodejs-logo.png" alt="NodeJS" style="width: 100px; margin: 0 10px;">
                <img src="img/glassfish-logo.png" alt="Glassfish" style="width: 80px; margin: 0 10px;">
                <img src="img/wildfly-logo.png" alt="WildFly" style="width: 100px; margin: 0 10px;">
                <img src="img/terraform-logo.png" alt="Terraform" style="width: 80px; margin: 0 10px;">
          </div>
</div>
