<div style="background-color: var(--tf-page-bg-color)" class="bg-gradient py-3">
  <div class="container">
    <div class="row">
      <!-- <div class="col-lg-4"> -->
        <!-- <img width="100%" src="{{ site.data.bio.basics.picture }}" class="d-block mx-auto rounded-circle"> -->
        <!-- <img width="100%" src="img/logo-image.svg" class="d-block mx-auto" style="border: none;"> -->
      <!-- </div> -->
      <div class="col-lg-8" style="width: 100%; text-align: justify;">
        <h1 class="display-4 text-center">{{ site.data.bio.basics.name }}</h1>
        <p class="lead text-center">{{ site.data.bio.basics.label }}</p>
        <p class="lead">{{ site.data.bio.basics.summary }}</p>
        <!-- <p class="lead" style="text-align: justify;">{{ site.data.bio.basics.summary }}</p> -->
        <hr class="my-4">

        <!-- Conhecimentos -->
        <p class="lead" style="text-align: justify; font-size: 2.5rem; margin-bottom: 20px;">
            <b>{{ site.data.bio.basics.conhecimentos }}</b>
        </p>
        
        <div class="conhecimentos-container" style="display: flex; justify-content: center; gap: 30px; margin-top: 20px; flex-wrap: wrap;">
          
            <div class="conhecimento-item" style="background-color: #fff; flex-grow: 0.5; padding: 20px; border: 2px solid #969696; border-radius: 10px; box-shadow: -1rem 1rem 1rem rgba(0, 0, 0, 0.150); width: 250px; text-align: center;">
                <img src="img/powershell-logo.svg" alt="PowerShell" style="width: 100px; margin-bottom: 10px;">
                <!--<h3 style="color: #333;">PowerShell</h3>-->
                <p style="color: #333;">O PowerShell é uma poderosa ferramenta de automação e scripting, que utilizo para simplificar a administração de ambientes e executar comandos de forma remota.</p>
            </div>
        
            <div class="conhecimento-item" style="background-color: #fff; flex-grow: 0.5; padding: 20px; border: 2px solid #969696; border-radius: 10px; box-shadow: -1rem 1rem 1rem rgba(0, 0, 0, 0.150); width: 250px; text-align: center;">
                <img src="img/python-logo.svg" alt="Python" style="width: 100px; margin-bottom: 10px;">
                <!--<h3 style="color: #333;">Python</h3>-->
                <p style="color: #333;">Desenvolvo automações e aplicativos para gerenciamento de ambientes com Python, utilizando o Visual Studio Code como IDE principal para criar soluções eficientes e personalizadas.</p>
            </div>
        
            <div class="conhecimento-item" style="background-color: #fff; flex-grow: 0.5; padding: 20px; border: 2px solid #969696; border-radius: 10px; box-shadow: -1rem 1rem 1rem rgba(0, 0, 0, 0.150); width: 250px; text-align: center;">
                <img src="img/azure-logo.svg" alt="Azure" style="width: 100px; margin-bottom: 10px;">
                <!--<h3 style="color: #333;">Azure</h3>-->
                <p style="color: #333;">Utilizo o Azure diariamente para gerenciar os recursos de forma eficiente, configurar rotinas de segurança, realizar análise de dados e administrar as rotinas de backup e restore.</p>
            </div>
        
            <div class="conhecimento-item" style="background-color: #fff; flex-grow: 0.5; padding: 20px; border: 2px solid #969696; border-radius: 10px; box-shadow: -1rem 1rem 1rem rgba(0, 0, 0, 0.150); width: 250px; text-align: center;">
                <img src="img/oci-logo.svg" alt="OCI" style="width: 100px; margin-bottom: 10px;">
                <!--<h3 style="color: #333;">OCI</h3>-->
                <p style="color: #333;">Minha atuação diária no OCI envolve a gestão e configuração de novas máquinas virtuais (VMs), ajuste de recursos alocados, configuração de Load Balancer, NSG, WAF e demais rotinas.</p>
            </div>
        
            <div class="conhecimento-item" style="background-color: #fff; flex-grow: 0.5; padding: 20px; border: 2px solid #969696; border-radius: 10px; box-shadow: -1rem 1rem 1rem rgba(0, 0, 0, 0.150); width: 250px; text-align: center;">
                <img src="img/docker-logo.svg" alt="Docker" style="width: 100px; margin-bottom: 10px;">
                <!--<h3 style="color: #333;">Docker</h3>-->
                <p style="color: #333;">Utilizo o Docker para criação, gerenciamento de aplicações e orquestração de contêineres, proporcionando desenvolvimento ágil e uma implantação consistente, eficiente e segura.</p>
            </div>

            <div class="conhecimento-item" style="background-color: #fff; flex-grow: 0.5; padding: 20px; border: 2px solid #969696; border-radius: 10px; box-shadow: -1rem 1rem 1rem rgba(0, 0, 0, 0.150); width: 250px; text-align: center;">
                  <img src="img/glassfish-logo.svg" alt="Glassfish" style="width: 100px; margin-bottom: 10px;">
                  <!--<h3 style="color: #333;">Glassfish</h3>-->
                  <p style="color: #333;">Minha experiência com o GlassFish inclui a configuração de pools de conexões, gerenciamento de serviços web e ajustes nas configurações do servidor para garantir uma operação eficiente e segura.</p>
            </div>

            <!-- Efeito no container -->
            <style>
              .conhecimento-item {
                transition: transform 0.3s ease, box-shadow 0.3s ease;
              }
            
              .conhecimento-item:hover {
                transform: translateY(-10px);
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
              }
            </style> <!-- Fim do efeito -->
        </div></p>

        <hr class="my-4">
        
        <!-- Certificacções -->
        <p class="lead" style="text-align: justify; font-size: 2.5rem; margin-bottom: 20px;">
            <b>{{ site.data.bio.basics.certificacoes }}</b>
        </p>
        
        <div class="certificacoes-container" style="display: flex; justify-content: center; gap: 30px; margin-top: 20px; flex-wrap: wrap;">

            <div class="certificacoes-item" style="background-color: #fff; flex-grow: 0.5; padding: 20px; border: 2px solid #969696; border-radius: 10px; box-shadow: -1rem 1rem 1rem rgba(0, 0, 0, 0.150); width: 250px; text-align: center;">
                <img src="img/az-900.svg" alt="az-900" style="width: 100px; margin-bottom: 10px;">
                <p style="color: #333;">Fundamentals Microsoft Azure | AZ-900</p>
            </div>

            <div class="certificacoes-item" style="background-color: #fff; flex-grow: 0.5; padding: 20px; border: 2px solid #969696; border-radius: 10px; box-shadow: -1rem 1rem 1rem rgba(0, 0, 0, 0.150); width: 250px; text-align: center;">
                <img src="img/oci-architect.svg" alt="oci-architect" style="width: 100px; margin-bottom: 10px;">
                <p style="color: #333;">OCI Architect Associate</p>
            </div>

            <div class="certificacoes-item" style="background-color: #fff; flex-grow: 0.5; padding: 20px; border: 2px solid #969696; border-radius: 10px; box-shadow: -1rem 1rem 1rem rgba(0, 0, 0, 0.150); width: 250px; text-align: center;">
                <img src="img/oci-foundations.svg" alt="oci-foundation" style="width: 100px; margin-bottom: 10px;">
                <p style="color: #333;">OCI Foundations Associate</p>
            </div>
          
            <div class="certificacoes-item" style="background-color: #fff; flex-grow: 0.5; padding: 20px; border: 2px solid #969696; border-radius: 10px; box-shadow: -1rem 1rem 1rem rgba(0, 0, 0, 0.150); width: 250px; text-align: center;">
                <img src="img/selo-itil4-foundation.svg" alt="itil4-foundation" style="width: 100px; margin-bottom: 10px;">
                <p style="color: #333;">ITIL 4 Foundations</p>
            </div>

        <!-- Efeito no container -->
            <style>
              .certificacoes-item {
                transition: transform 0.3s ease, box-shadow 0.3s ease;
              }
            
              .certificacoes-item:hover {
                transform: translateY(-10px);
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
              }
            </style> <!-- Fim do efeito -->
        </div></p>
        
        <!-- Fim da aba de Conhecimentos -->
        
        <!-- <hr class="my-4">
        <div class="row">

          <!-- Comentando os ícones
          {% if site.data.bio.basics.website %}
            {% capture url %}{{ site.data.bio.basics.website }}{% endcapture %}
            <div class="col text-center">
              {% include about/social.html url=url name='house' %}
            </div>
          {% endif %}

          {% if site.data.bio.basics.email %}
            {% capture url %}mailto:{{ site.data.bio.basics.email }}{% endcapture %}
            <div class="col text-center">
              {% include about/social.html url=url name='envelope' %}
            </div>
          {% endif %}

          {% for profile in site.data.bio.basics.profiles %}
            {% capture url %}{{ profile.url }}{% endcapture %}
            {% capture name %}{{ profile.network | downcase }}{% endcapture %}
            <div class="col text-center">
              {% include about/social.html url=url name=name %}
            </div>
          {% endfor %}

        </div> -->
      </div>
    </div>
  </div>
</div>
