<div style="background-color: var(--tf-page-bg-color)" class="bg-gradient py-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <img width="300px" src="{{ site.data.bio.basics.picture }}" class="d-block mx-auto rounded-circle">
      </div>
      <div class="col-lg-8">
        <h1 class="display-4 text-center">{{ site.data.bio.basics.name }}</h1>
        <p class="lead text-center">{{ site.data.bio.basics.label }}</p>
        <p class="lead">{{ site.data.bio.basics.summary }}</p>
        <hr class="my-4">

        <!-- Conhecimentos -->
          <p class="lead" style="text-align: justify; font-size: 2.5rem"><b>{{ site.data.bio.basics.conhecimentos }}</b></p>
          
          <div class="conhecimentos-container" style="display: flex; justify-content: center; gap: 30px; margin-top: 20px; flex-wrap: wrap;">
              <div class="conhecimento-item" style="background-color: #fff; padding: 20px; border: 2px solid #333; border-radius: 10px; width: 250px; text-align: center;">
                  <img src="img/powershell-logo.png" alt="Oracle" style="width: 100px;">
                  <h3 style="color: #333;">PowerShell</h3>
                  <p style="color: #333;">PowerShell é um shell de linha de comando baseado em tarefas e linguagem de script desenvolvido no .NET.</p>
              </div>
          
              <div class="conhecimento-item" style="background-color: #fff; padding: 20px; border: 2px solid #333; border-radius: 10px; width: 250px; text-align: center;">
                  <img src="img/python-logo.png" alt="SQL Server" style="width: 100px;">
                  <h3 style="color: #333;">Python</h3>
                  <p style="color: #333;">Python é uma linguagem de programação de alto nível, interpretada de script, imperativa, orientada a objetos, funcional, de tipagem dinâmica e forte.</p>
              </div>
          
              <div class="conhecimento-item" style="background-color: #fff; padding: 20px; border: 2px solid #333; border-radius: 10px; width: 250px; text-align: center;">
                  <img src="img/azure-logo.png" alt="Ubuntu" style="width: 80px;">
                  <h3 style="color: #333;">Azure</h3>
                  <p style="color: #333;">O Azure é a plataforma de nuvem da Microsoft, oferecendo uma vasta gama de serviços e recursos para empresas e desenvolvedores.</p>
              </div>

              <div class="conhecimento-item" style="background-color: #fff; padding: 20px; border: 2px solid #333; border-radius: 10px; width: 250px; text-align: center;">
                    <img src="img/oci-logo.png" alt="OCI" style="width: 80px;">
                    <h3 style="color: #333;">OCI</h3>
                    <p style="color: #333;">O OCI é a plataforma de nuvem da Oracle, que oferece uma variedade de serviços e soluções, incluindo infraestrutura, banco de dados, aplicações e ferramentas para desenvolvedores.</p>
              </div>
          </div>
        <!-- Fim da aba de Conhecimentos -->
        
        <hr class="my-4">
        <div class="row">

          {% if site.data.bio.basics.website %}
            {% capture url %}{{ site.data.bio.basics.website }}{% endcapture %}
            <div class="col text-center">
              {% include about/social.html url=url name='house' %}
            </div>
          {% endif %}

          {% if site.data.bio.basics.email %}
            {% capture url %}mailto:{{ site.data.bio.basics.email }}{% endcapture %}
            <div class="col text-center">
              {% include about/social.html url=url name='envelope' %}
            </div>
          {% endif %}

          {% for profile in site.data.bio.basics.profiles %}
            {% capture url %}{{ profile.url }}{% endcapture %}
            {% capture name %}{{ profile.network | downcase }}{% endcapture %}
            <div class="col text-center">
              {% include about/social.html url=url name=name %}
            </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
</div>
